/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
    margin: 0; /* Remove default body margin */
}

header {
    position: fixed;
    background-color: #000000;
    width: 100%;
    padding: 1rem;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 4px;
    width: 25px;
    background: #fff;
    margin-bottom: 4px;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    background-color: #000000;
}

nav ul.nav-links {
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li.logo {
    margin-right: auto;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li button {
    background-color: #8a0303;
    border: none;
    padding: 0.75rem 1.5rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
}

nav ul li.logo img {
    width: 250px;
    height: auto;
}

.hero {
    padding-top: 120px;
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 98%;
    height: auto;
    opacity: 0.7;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    background-color: black;
    padding: 1rem;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: #000000;
}

.content-item {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-bottom: 2rem;
    flex: 1 1 300px;
}

.content-item img {
    width: 100%;
    height: auto;
    display: block;
}

.content-item h2,
.content-item p {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3rem; /* Adjust padding as needed */
    color: #fff;
    width: 80%;
    max-width: 300px;
    box-sizing: border-box;
    margin: 0 auto; /* Center align the text */
    position: absolute; /* Position text over the image */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure text is above the image */
}

.content-item h2 {
    top: 20%;
}

.content-item p {
    bottom: 40%;
}

.additional-image {
    text-align: center;
    padding: 2rem;
    background-color: #000000;
}

.additional-image img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    position: relative;
}

.social-links {
    margin-top: 1rem;
}

.social-links a {
    text-decoration: none;
}

.social-icon {
    margin: 0 10px;
    vertical-align: middle;
}

.social-links a:hover .social-icon {
    opacity: 0.8;
}

.about {
    position: relative;
    background-color: #222;
    color: #fff;
    padding: 120px;
    text-align: left;
    background-image: url('Images/breach3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.about h2 {
    position: relative;
    z-index: 2;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.about-content {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.about-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.about-content strong {
    font-size: 1.4rem;
    display: block;
    margin-top: 2rem;
    line-height: 1.4;
}

@media only screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    nav ul.nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    nav ul.nav-links li {
        text-align: center;
        margin: 1rem 0;
    }

    nav ul.nav-links.active {
        display: flex;
    }

    .hero h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
        background-color: black;
        padding: 1rem;
        width: 80%; /* Adjust width as needed */
        max-width: 300px; /* Adjust max-width as needed */
        text-align: center;
    }

    .content {
        flex-direction: column;
        padding: 1rem;
    }

    .content-item {
        margin-bottom: 1rem;
        position: relative;
    }

    .content-item img {
        width: 100%;
        height: auto;
        display: block;
    }

    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.8);
        padding: 1rem;
        color: #fff;
        width: 80%;
        max-width: 300px;
        box-sizing: border-box;
        text-align: center;
        z-index: 1;
        overflow: hidden;
    }

    .text-overlay h2,
    .text-overlay p {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem; /* Adjust padding as needed */
    margin: 0;
    }

    .content-item:nth-child(1) .text-overlay {
        transform: translate(-50%, -60%); /* Adjust top positioning for the first content item */
    }

    .content-item:nth-child(2) .text-overlay {
        transform: translate(-50%, -60%); /* Adjust top positioning for the second content item */
    }

    .content-item:nth-child(3) .text-overlay {
        transform: translate(-50%, -60%); /* Adjust top positioning for the third content item */
    }

    .additional-image {
        text-align: center;
        padding: 2rem;
        background-color: #000000;
    }

    .additional-image img {
        width: 100%;
        height: auto;
    }
}

